/*reset css*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  word-wrap: break-word;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*main*/
body {
  background: url("../static/img/background/background.png") no-repeat;
}

/*header*/
header {
  font-family: "Roboto Condensed", sans-serif;
}

header .navigation li {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navigation li:hover {
  opacity: 1;
}

header .navigation .currentPage {
  opacity: 1;
  font-weight: 700;
  text-decoration: underline;
}

/*site-container*/
.siteContainer {
  max-width: 1390px;
  padding: 0px 25px;
}

.siteContainer .formContainer .trackerForm {
  width: 900px;
  border: solid 1px #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 7px 3px #000000;
          box-shadow: 0px 0px 7px 3px #000000;
}

.siteContainer .formContainer .trackerForm .formContent {
  padding: 25px;
}

.siteContainer .formContainer .trackerForm .formContent .formSection {
  padding: 15px 0px 40px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}

.siteContainer .formContainer .trackerForm .formContent .addMember input {
  border-bottom: 1px solid #ffffff;
  padding: 5px;
}

.siteContainer .formContainer .trackerForm .formContent .addMember .nameInput {
  width: 350px;
}

.siteContainer .formContainer .trackerForm .formContent .addMember .initiativeInput {
  width: 100px;
}

.siteContainer .formContainer .trackerForm .formContent .members {
  padding-top: 25px;
}

.siteContainer .formContainer .trackerForm .formContent .members .member .deleteButton {
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 8px;
  width: 18px;
  height: 18px;
  border: solid 1px #b91c1c;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.siteContainer .formContainer .trackerForm .formContent .members .member .deleteButton:hover {
  background: #b91c1c;
  color: #000000;
}

.siteContainer .formContainer .trackerForm .formContent .trackerTable h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  padding: 20px 20px;
  border: solid 1px #ffffff;
  border-radius: 4px;
  width: 500px;
}

.siteContainer .formContainer .trackerForm .formContent .trackerTable .table .memberStatusSelector {
  width: 120px;
  border-bottom: solid 1px #ffffff;
}

.siteContainer .formContainer .trackerForm .formContent .trackerTable .table .memberStatusSelector option {
  background: #000000;
}

.siteContainer .formContainer .trackerForm .formContent .commonButton {
  width: 180px;
  height: 44px;
  border: solid 1px #b91c1c;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.siteContainer .formContainer .trackerForm .formContent .commonButton:hover {
  background: transparent;
}

.siteContainer .formContainer .trackerForm .formContent .blockedButton {
  width: 180px;
  height: 44px;
  border: solid 1px #555555;
  background: #555555;
  border-radius: 4px;
}

/*footer*/
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

footer .copyright {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */